body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: #b2b596;
}

#map {
  width: 960px; height: 600px;
  border: 1px solid gray;
  box-shadow: 5px 5px 30px #111;
}

.user_row {
  font-size: 17px;
}

tbody > tr:first-child {
  font-weight: bold;
}
tbody > tr:nth-child(2){
  font-weight: bold;
}
tbody > tr:nth-child(3){
  font-weight: bold;
}

.scorefeed {
  font-size: 12px;
  line-height: 10px;
  font-weight: normal;
  padding: 0px;
}